:root {
    --sidebar-width: 250px;
    --bs-breadcrumb-divider: '>';
}

html, body {
    overflow: hidden;
    background-color: #ccc;
}

.sidebar-menu {
    width: var(--sidebar-width);
    border-right: 1px solid #aaa;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #eee;
}

.content {
    width: calc(100% - var(--sidebar-width));
    margin-left: var(--sidebar-width);
}